.dynahub-block-hero ul {
  @apply !list-none !p-0 !m-0;
}

.hero-single-post .card-overlay {
  @apply aspect-[1290/530];
}

.hero-double-posts .card-overlay {
  @apply aspect-[960/600];
}

.hero-triple-posts .card-overlay {
  @apply aspect-[589/422];
}

.wp-admin .dynahub-block-hero a {
  pointer-events: none !important;
}

.hero-single-post .card-overlay,
.hero-double-posts .card-overlay,
.hero-triple-posts .card-overlay {
  @apply min-h-[422px];
}
