@import "tailwindcss";

@theme {
  --color-primary: #F4796C;

  --color-blue-500: #183354;
  --color-blue-600: #12253E;

  --color-neutral-500: #8199B7;


  --font-primary: system-ui, -apple-system, sans-serif;
  --font-secondary: Georgia, serif;

  --spacing-section: 4rem;
  --spacing-container: 1.5rem;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  .container {
    @apply mx-auto px-8;
  }
}

@layer components {
  @import "./tailwind/components/buttons.css";
  @import "./tailwind/components/nav-menu.css";
}