@import "./fonts/fonts.css";
@import "tailwindcss";

@theme {
  --color-primary: #F4796C;

  --color-blue-500: #183354;
  --color-blue-600: #12253E;

  --color-neutral-500: #8199B7;
  --color-custom-neutral-100: #BACCE1;


  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-logo: 'Playfair Display', serif;

  --spacing-section: 4rem;
  --spacing-container: 1.5rem;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    font-family: var(--font-primary);
  }

  .container {
    @apply mx-auto px-8;
  }
}

@layer components {
  .logo {
    @apply text-3xl font-bold text-stone-100 font-logo;
  }

  @import "./tailwind/components/buttons.css";
  @import "./tailwind/components/nav-menu.css";
  @import "./tailwind/components/blocks/hero.css";
}